@using TestTask.Models
@model WeatherResponse
@{
    ViewData["Title"] = "SupDanilSite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Temperature in @ViewBag.Name </h1><br />
<h1>@ViewBag.Main C'</h1>

